<style>
#Display {
  width: 216px;
}
.NumPad button {
  width: 48px;
  margin: 2px;
}
.clear button {
  width: 216px;
}
</style>

<html>
<body>
  <input type="text" id="Display" disabled value="" />
  <br/>

    <table class="NumPad">
      <tr>
        <br/>
        <td><button onclick="NumPad('1')  ">1</button></td>
        <td><button onclick="NumPad('2')  ">2</button></td>
        <td><button onclick="NumPad('3')  ">3</button></td>
        <td><button onclick="OpePad('%2B')">+</button></td>
      </tr>
      <tr>
        <td><button onclick="NumPad('4')  ">4</button></td>
        <td><button onclick="NumPad('5')  ">5</button></td>
        <td><button onclick="NumPad('6')  ">6</button></td>
        <td><button onclick="OpePad('-')  ">-</button></td>
      <tr>
        <td><button onclick="NumPad('7')  ">7</button></td>
        <td><button onclick="NumPad('8')  ">8</button></td>
        <td><button onclick="NumPad('9')  ">9</button></td>
        <td><button onclick="OpePad('*')  ">*</button></td>
      </tr>
      <tr>
        <td><button onclick="NumPad('0')  ">0</button></td>
        <td><button onclick="NumPad('.')  ">.</button></td>
        <td><button onclick="CalPad(   )  ">=</button></td>
        <td><button onclick="OpePad('/')  ">/</button></td>
       </tr>
    </table>

  <div class="clear"> 
    <br/>
      <button onclick="Display.value = '';
                       Cache ='';">
                       CLEAR
      </button>
  </div>
</div>

<script>
  var xmlhttp = new XMLHttpRequest();
  var Display = document.getElementById("Display");
  var Cache = 0;

  function NumPad(number) {
    Cache =  Cache + number;
    Display.value = Display.value + number;}

  function OpePad(operator) {
    Cache =  Cache +  operator;
    Display.value = '';}
  
  function CalPad() {
    let send = Cache;
    xmlhttp.open("GET", "https://localhost:5001/Home/CalPad?prop=" + send);
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        Display.value = xmlhttp.responseText;}}
    xmlhttp.send();}
</script>
</body>
</html>
